.map {
 background-color: $primaryColor;
 position:relative;
 height: 423px;
 margin-top: 45px;
 iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
 }
 .container {
  @extend %container;
 }
 &__inner {
  position: relative;
  margin-top: 50px;
  text-align: center;
  border: 1px solid $secondaryColor;
  // @include media (sm) {
  //  max-width: 400px;
  //  width: 100%;
  //  margin: 50px auto;
  // }
 }
}
