.price {
 .container {
  @extend %container;
 }
 &__title {
  @include text (26px, 400, 1.2, $textColor);
  max-width: 243px;
  text-align: center;
  margin: 0 auto 40px;
  @include media (md) {
   margin-left: 0;
   text-align: inherit;
  }
 }
 &__inner {
  border-top: 0.5px solid $secondaryColor;
  @include media (lg) {
   max-width: 770px;
   border: 0.5px solid $secondaryColor;
  }
 }
 &__box {
  border-top: 0.5px solid $secondaryColor;
  border-bottom: 0.5px solid $secondaryColor;
  @include media (sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media (lg) {
   padding-left: 30px;
   }
 }
 &__data {
  @include text (18px, 400, 1.4, $textColor);
  display: block;
  padding: 20px 0;
  text-align: center;
  max-width: 475px;
  position: relative;
  @include media (sm) {
  text-align: left;
  }
  @include media (lg) {
   padding-left: 30px;
   }
  &::after {
   @include background (url("../images/icons/calendar.svg"));
   width: 35px;
   height: 35px;
   display: none;
   @include media (sm) {
    @include pseudo;
    left: 40%;
    top: 25%;
   } 
   @include media (lg) {
    left: 50%;
    }
  }
 }
 &__item {
  @include text (18px, 400, 1.4, $textColor);
  &:not(:last-child) {
   margin-bottom: 10px;
  }
  &:nth-child(3){
   margin-bottom: 20px;
  }
 }
 &__time {
  display: block;
  margin-top: 30px;
 }
 &__day,
 &__evening {
   @include text (18px, 600, 1.2, $textColor);
 }
 &__link {
  @include text (14px, 400, 1.2, $accentColor);
  display: inline-block;
  margin-bottom: 30px;
  padding: 16px 32px;
  border: 2px solid $accentColor;
  @include media (sm) {
   margin-bottom: 0;
  }
  @include media (lg) {
   margin-right: 30px;
   }
 }
}