.price {
 .container {
  @extend %container;
 }
 &__title {
  @include text (26px, 400, 1.2, $textColor);
  max-width: 243px;
  text-align: center;
  margin: 0 auto 40px;
 }
 &__data {
  @include text (18px, 400, 1.4, $textColor);
  display: block;
  padding: 20px 0;
  margin-bottom: 30px;
  border-top: 0.5px solid $secondaryColor;
  border-bottom: 0.5px solid $secondaryColor;
  text-align: center;
 }
 &__item {
  @include text (18px, 400, 1.4, $textColor);
  &:not(:last-child) {
   margin-bottom: 10px;
  }
  &:last-child {
   margin-bottom: 20px;
  }
 }
 &__time {
  // @include text (18, 400, 1.4, $textColor);
 }
 &__day {
   @include text (18px, 600, 1.2, $textColor);
 }





 &__link {
  display: block;
  margin-bottom: 30px;
 }
}