.rating {
 &__box {
  border-top: 0.5px solid $secondaryColor;
  border-bottom: 0.5px solid $secondaryColor;
  padding: 14px 0; 
  position: relative;
  @include media (sm) {
   display: flex;
   align-items: center;
   padding: 30px 0; 
   max-width: 570px;
  } 
  &::before {
   position: absolute;
   content: "";
   display: block;
   width: 36px;
   height: 41px;
   background-image: url("../images/icons/cup.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   left: 0;
   bottom: 20px;
   @include media (sm) {
    width: 32px;
    height: 35px;
    bottom: 35px;
   } 
  }
 }
 &__text {
  @include text (14px, 400, 1.4, $textColor);
  padding-left: 48px;
  max-width: 241px;
  span {
   @include text (14px, 500, 1.4, $textColor);
  }
  @include media (sm) {
   @include text (18px, 400, 1.4, $textColor);
   max-width: 290px;
   span {
    @include text (14px, 600, 1.4, $textColor);
   }
  }
 }
}

.rating-area {
	overflow: hidden;
	width: 175px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 26px;
	padding: 0;
	cursor: pointer;
	font-size: 32px; 
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
