.home {
 background-image: url("../images/home-bg.jpg");
 background-repeat: no-repeat;
 // background-position-x: 52%;
 // background-position-y: 55%;
 background-position: 55%;
 background-size: cover;
 .container {
  @extend %container;
 }
 &__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  @include media (md) {
   min-height: calc(100vh - 100px);
  }
 }
 &__title {
  @include text(32px, 700, 1, $primaryColor);
  max-width: 257px;
  width: 100%;
  margin-bottom: 36px;
  span {
   color: $accentColor;
  }
  @include media (md) {
   @include text (40px, 700, 1.2, $primaryColor);
   max-width: 596px;
  }
  @include media (lg) {
   max-width: 887px;
  }
 }
 &__price {
  width: 200px;
  height: 86px;
  margin-bottom: 14px;
 }
 &__btn {
  @include text(16px, 400, 1.2, $primaryColor);
  filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  border: 3px solid $primaryColor;
  border-radius: 7px;
  padding: 25px 33px;
  max-width: 275px;
  width: 100%;
  transition: background-color 0.5s ease;
  &:hover {
   background-color: rgba(252, 155, 9, 1);
  }
  @include media (md) {
   @include text(18px, 400, 1.2, $primaryColor);
  }
 }
}